meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")

//- link(rel="stylesheet", href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css")
//- link(rel="stylesheet", href="/dest/map/index.css")
