// Fixed navbar
nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
  a.navbar-brand(href="#") Fixed navbar
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="#") Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="#") Link
